/* ===== GLOBAL ===== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Fugaz One', cursive;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;

    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

/* ===== HEADER ===== */
header {
    background: linear-gradient(to bottom, #3B3273, transparent);
    padding: 20px 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

header a:hover {
    text-decoration: underline;
}

header, header a {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 10px;
    }
}
/* ===== CONTENT ===== */
h1 {
    font-size: 2.5em;
    margin: 30px 0 20px;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.8);
}

h2 {
    font-size: 1.2em;
    margin: 40px 0 15px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
}

p {
    max-width: 800px;
    line-height: 1.7;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

/* ===== FOOTER ===== */
footer {
    background: linear-gradient(to top, #3B3273, transparent);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

footer p {
    margin: 10px 0;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
}

footer a {
    color: #94689D;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}